<%- include ('../partials/header') %>
<div class="container">
  <div class="row">
    <div class="col">
      <h1><i class="fas fa-utensils"></i> Welcome To Food Paradise!!!</h1>
      <p>Explore the Delicious and Exotic Food Around the World</p>
    </div>
  </div>
  <a class="btn btn-primary mb-3" href="/foodgrounds/new">
    Add New Foodground
  </a>
  <div class="row">
    <div class="col-md-6">
      <form method="GET" action="/foodgrounds" id="foodground-search">
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            name="search"
            id="foodground-search"
            placeholder="Foodground search...."
          />
        </div>
      </form>
    </div>
  </div>
  <div id="data-card" class="row my-5 d-flex justify-content-around">
    <% foodgrounds.forEach(function(foodground){ %>
    <div
      id="card-click"
      class="card mb-2"
      style="max-width: 300px; height: 400px; border: none"
      onclick="clickCard('<%= foodground.id%>')"
    >
      <div
        class="row d-flex justify-content-center align-items-center"
        style="height: 80%"
      >
        <img src="<%= foodground.image.path%>" style="width: 300px" />
      </div>
      <div class="row text-center">
        <h5><%= foodground.name %></h5>
      </div>
    </div>
    <%}); %>
  </div>
</div>
<script>
  const clickCard = (id) => {
    window.location.assign(`/foodgrounds/${id}`);
  };
</script>
<%- include ('../partials/footer') %>
