<%- include ('../partials/header') %>
<div class="container py-2">
  <div class="row">
    <div class="col-md-3">
      <div class="row d-flex justify-content-center align-items-center">
        <img
          src="<%= foodground.image.path %>"
          style="height: auto; max-width: 450px"
        />
      </div>
      <div class="col mt-2 text-center">
        <button
          id="btn-focus"
          type="button"
          class="btn btn-xs"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <ion-icon
            name="location-outline"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Map"
            style="font-size: 35px"
          ></ion-icon>
        </button>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col mt-3 px-3 bottom-border">
          <h1><%= foodground.name%></h1>
          <p>cusine</p>
          <p><%= foodground.description%></p>
          <p class="text-muted"><%= foodground.location %></p>
          <p><span class="text-warning">Open at</span> - 8am - 10pm</p>
          <p><span>Call</span> - <span>1234567890</span></p>
          <p><span>Likes</span> : <span><%= foodground.likes.count%></span></p>
          <a
            class="btn btn-xs"
            href="/foodgrounds/<%= foodground._id%>/comments/new"
            id="btn-focus"
            ><ion-icon
              name="chatbox-ellipses-outline"
              style="font-size: 25px"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              title="Comment"
            ></ion-icon
          ></a>

          <form
            action="/like-foodground/<%= foodground._id%>"
            method="post"
            style="display: inline"
          >
            <% if(currentUser){ %>
            <button
              type="submit"
              class="btn btn-xs"
              id="btn-focus"
              style="outline: none"
            >
              <ion-icon
                name="<%= foodground.likes.users.find(ele => ele.toString() === currentUser._id.toString()) ? 'thumbs-down-outline' : 'thumbs-up-outline' %>"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="<%= foodground.likes.users.find(ele => ele.toString() === currentUser._id.toString()) ? 'Unlike' : 'Like' %>"
                style="font-size: 25px"
              ></ion-icon>
            </button>
            <%} else { %>
            <button
              type="submit"
              class="btn btn-xs"
              id="btn-focus"
              style="outline: none"
            >
              <ion-icon
                name="thumbs-up-outline"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Like"
                style="font-size: 25px"
              ></ion-icon>
            </button>
            <%} %>
          </form>
        </div>
        <div class="col text-end mt-3">
          <% if(currentUser && foodground.author.id.toString()===
          currentUser._id.toString()){%>
          <a
            id="btn-focus"
            class="btn btn-xs mx-auto"
            href="/foodgrounds/<%= foodground._id%>/edit"
            ><ion-icon
              name="create-outline"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              title="Edit"
              style="font-size: 25px"
            ></ion-icon
          ></a>
          <form
            action="/foodgrounds/<%= foodground._id%>/delete?_method=DELETE"
            method="POST"
            style="display: inline"
          >
            <button id="btn-focus" class="btn btn-xs">
              <ion-icon
                name="trash-bin-outline"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Delete"
                style="font-size: 25px"
              ></ion-icon>
            </button>
          </form>
          <%} %>
        </div>
      </div>
      <hr />

      <div class="card d-flex justify-content-center" style="border: none">
        <% foodground.comments.forEach(function(comment){%>
        <div
          class="row p-2 mx-2"
          id="<%= comment._id%>"
          onmouseover="commenthover('<%= comment._id%>')"
          onmouseleave="commentremove('<%= comment._id%>')"
          style="border-radius: 15px"
        >
          <div class="col d-flex">
            <img
              class="rounded-circle mt-3"
              alt="#"
              src="<%= comment.author.avatar_image%>"
              style="max-width: 60px; height: 55px"
            />
            <div class="card-body">
              <div class="col">
                <h6><%= comment.author.username%></h6>
                <p><%= comment.text%></p>
              </div>
              <div class="col">
                <% if(currentUser && comment.author.id.toString()===
                currentUser._id.toString()){ %>
                <a
                  id="btn-focus"
                  class="btn btn-xs"
                  href="/foodgrounds/<%= foodground._id%>/comments/<%=comment._id%>/edit"
                  ><ion-icon
                    name="create-outline"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="Edit"
                    style="font-size: 25px"
                  ></ion-icon
                ></a>
                <form
                  action="/foodgrounds/<%=foodground._id%>/comments/<%=comment._id%>?_method=DELETE"
                  method="POST"
                  style="display: inline"
                >
                  <button id="btn-focus" class="btn btn-xs">
                    <ion-icon
                      name="trash-bin-outline"
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      title="Delete"
                      style="font-size: 25px"
                    ></ion-icon>
                  </button>
                </form>
                <%}%>
                <div>
                  <span class="row text-muted d-flex justify-content-end">
                    <%= moment(comment.createdAt).fromNow() %>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%})%>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div id="map"></div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function commenthover(id){
    let cid = document.getElementById(`${id}`)
    cid.style.backgroundColor = '#f6f6f6';
    cid.style.transition = 'all 0.2s';
  }
  function commentremove(id){
    let cid = document.getElementById(`${id}`)
    cid.style.backgroundColor = 'white';
  }
  function initMap() {
    var lat = <%=foodground.lat%>;
    var lng = <%=foodground.lng%>;
    var center = { lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById("map"), {
      zoom: 8,
      center: center,
      scrollwheel: true,
    });
    var contentString = `
      <strong><%= foodground.name %><br />
      <%= foodground.location %></strong>
    `;
    var infowindow = new google.maps.InfoWindow({
      content: contentString,
    });
    var marker = new google.maps.Marker({
      position: center,
      map: map,
    });
    var latLng = new google.maps.LatLng(lat, lng);
    marker.addListener("click", function () {
      infowindow.open(map, marker);
      map.setZoom(20);
      map.setCenter(marker.getPosition());

    });
  }
</script>
<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5C6Dg0G9INHL0reKcKItq30fKapAtxnU&callback=initMap"
></script>
<%- include ('../partials/footer') %>
