<%- include ('../partials/header') %>
<div class="container-fluid py-2">
  <div class="row">
    <div class="col-md-3">
      <div id="map"></div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="card" style="border: none;">
          <div class="col d-flex justify-content-center">
            <img src="<%= foodground.image.path %>" style="width: 100%; height: auto; max-width: 500px;"/>
          </div>
          <div class="card-body">
            <h4>Rs <%= foodground.cost %>/Meal</h4>
            <h4><%= foodground.name%></h4>
            <p>
              <%= foodground.description%>
              <em class="d-flex justify-content-end"
                >Submitted by: <%= foodground.author.username %>, <%=
                moment(foodground.createdAt).fromNow() %></em
              >
            </p>
            <% if(currentUser && foodground.author.id.toString() ===
            currentUser._id.toString()){ %>
            <a
              class="btn btn-warning"
              href="/foodgrounds/<%= foodground._id %>/edit"
              >Edit</a
            >
            <form
            class="delete-form"
            action="/foodgrounds/<%=foodground._id%>/delete/?_method=DELETE"
            method="POST"
            style="display: inline-block;"
          >
            <button class="btn btn-danger">Delete</button>
          </form>
            <% } %>
          </div>
          <a
            class="btn btn-success"
            href="/foodgrounds/<%= foodground._id %>/comments/new"
            >Add New Comment</a
          >
        </div>
      </div>
      <hr />
      <% foodground.comments.forEach(function(comment){ %>
      <div class="row d-flex justify-content-between">
        <div class="col">
          <div class="row mx-auto">
            <%= comment.text %> 
          </div>
          <strong><%= comment.author.username%></strong>
          <span> <%= moment(comment.createdAt).fromNow() %> </span>
        
        </div>
        <div class="col d-flex justify-content-end my-2">
          <% if(currentUser && comment.author.id.toString()
          === currentUser._id.toString()){ %>
          <a
            href="/foodgrounds/<%=foodground._id%>/comments/<%=comment._id%>/edit"
            class="btn btn-xs btn-warning mr-2" style="margin-right: 10px;"
            >EDIT</a
          >
          <form
            class="delete-form"
            action="/foodgrounds/<%=foodground._id%>/comments/<%=comment._id%>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-xs btn-danger">DELETE</button>
          </form>
        </div>
        <%} %>
      </div>
      <hr/>
      <%}) %>

    </div>
  </div>
</div>

<script>
  function initMap() {
    var lat = <%=foodground.lat%>;
    var lng = <%=foodground.lng%>;
    var center = { lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById("map"), {
      zoom: 8,
      center: center,
      scrollwheel: true,
    });
    var contentString = `
      <strong><%= foodground.name %><br />
      <%= foodground.location %></strong>
    `;
    var infowindow = new google.maps.InfoWindow({
      content: contentString,
    });
    var marker = new google.maps.Marker({
      position: center,
      map: map,
    });
    var latLng = new google.maps.LatLng(lat, lng);
    marker.addListener("click", function () {
      infowindow.open(map, marker);
      map.setZoom(20);
      map.setCenter(marker.getPosition());

    });
  }
</script>
<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5C6Dg0G9INHL0reKcKItq30fKapAtxnU&callback=initMap"
></script>
<%- include ('../partials/footer') %>
